<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/common.css')}}">
    <title>Contact</title>
</head>

<body>

    <div class="container">
        <header class="header">
            <div class="leftside">
                <h1>Contact</h1>
                <p>This page provides contact our company</p>
            </div>
            <div class="rightside">
                <ul class="menu">
                    <ol><a href="/" style="text-decoration: none;">Main</a></ol>
                    <ol><a href="/about" style="text-decoration: none;">About</a></ol>
                    <ol><a href="/contact" style="text-decoration: none;">Contact</a></ol>
                </ul>
            </div>
        </header>
    </div>
</body>

</html>